
<header class = 'header'>
<h1>Edit To Do List</h1>
</header>

 <%= form_with(model:[@trip, @todo_list]) do |form| %>

    <div class = 'sign_in_form'>
    <div class="class=mb-3">
        <% form.label :description%>
        <%= form.text_area :description, placeholder: "What's this list for?"%> 
    </div>
    <br>
    <br>
    <%= form.submit "Submit", class:"btn btn-dark" %>
 </div>
 <% end %>