<%= stylesheet_link_tag "show_page", "data-turbo-track": "reload" %>
<body style = "background-image: url(<%= @accommodation.trip.image_url%>)">

<div class="card mx-auto" style="width: 70vw; height:70vh">
  <div class="card-body">
    <div class="card-title"><h1 ><%= @accommodation.name %></h1></div>
    
   <div class="d-grid gap-3 col-12 mx-auto">
      <%= link_to 'Manage Accommodation', edit_trip_accommodation_path(@trip, @accommodation), class:"btn btn-dark" %> 
   </div> 
 </div>
</div>