<div class = 'container mt-5 text-center'>
    <h1>My Calendar</h1>
    <%= month_calendar(events: @trips) do |date, trips| %>
        <div class = 'day'>
            <%= date.day %>
        </div>
        <% trips.each do |trip|%>

        <%if trip.user_id == @current_user.id %>
            <div class = 'card-header'>
                <div class = 'card-title'>
                    <%= link_to trip.name, trip %>
                </div>
            </div>
            <% end %>
        <% end %>
    <% end %>
</div>  