.sign_in_header{
    text-align: center;
    padding-top: 30px;
}

.sign_in_form{
    text-align: center;
    padding-top: 30px;
}

.header{
    text-align: center;
    padding-top: 30px;
}
.sign_up_form{
    text-align: center;
    padding-top: 20px;
}

.sign_up_link{
    text-align: center;
    padding-top: 60px;
}

.empty_index{
    text-align: center;
    padding-top: 30vh;
}

.update_profile_header{
   text-align: center;
   padding-top: 20px;
}
.update_profile_form{
   text-align: center;
   padding-top: 20px;
}

.new_trip_header{
    text-align: center;
    padding-top: 20px;
}

.accommodation_details_header{
    padding-top: 20px;
}

.add_button{
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.index {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
    padding-bottom: 5vh;
}

body{
    background-color: whitesmoke;
}

.card {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}








