.card{
    width: 400px;
    align-items: center;
}

.card-title{
    text-align: center;
    
    margin-top: 3vh;
    padding-bottom: 3vh;
}

.card-subtitle{
    text-align: center;
    padding-bottom: 3vh;
}

.card {
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


 





