<nav class="navbar navbar-dark sticky-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Roam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
         <% if(current_user.present?)%>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/trips">View All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/trips/new">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">My Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/<%=current_user.id%>/edit">My Profile</a>
          </li>
          <li class="nav-item">
            <a><%#= link_to 'Profile', edit_user_path(current_user)%></a>
          </li>
          <li class="nav-item">
            <%= button_to 'Sign Out', session_path, method: :delete %>
          </li>
         <% else %>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/session/new">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/new">Sign Up</a>
          </li>
          <%end%>
      </ul>
    </div>
  </div>
</nav>